

%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Restaurante
		%meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad."}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			Estás usando un navegador
			%strong desactualizado.
			Por favor
			%a{href:"http://browsehappy.com/"}
			actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"

		.video-container
			%video{autoplay:true,loop:true,width:"1280",height:"720",poster:"/videos/images/bbq.jpg"}
				%source{scr:"/videos/mp4/bbq.mp4",type:"video/mp4"}
				%source{scr:"/videos/webm/bbq.webm",type:"video/webm"}